$primary: #444;
$secondary: #fff;
$bgcolor: violet;
$font-family: 'Roboto', sans-serif;
$padding50px: 100px;


body {
    background-color: $bgcolor;
}
h1 {
    color: $primary
}

h2 {
    color: $primary
}

p {
    padding-top: $padding50px;
}